/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* comon */
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
.clear{
    clear: both;
}
.text-white{
    color:#fff!important;
}
.text-center{
    text-align: center !important;
}
.row{
    margin-left: -8px;
    margin-right:-8px;
}
.row::after{
    content: "";
    display:block;
    clear: both;
}
.col{
    padding: 0 8px;
    float:left;
}
.col-full{
    width:100%;
}
.col-half{
    width:50%;
}
.col-third{
    width:33.33333%;
}
.section-center{
    margin-left: auto;
    margin-right:auto;  
}
.mt8{
    margin-top: 8px !important;
}
.mt16{
    margin-top:16px !important;
}
.btn{

    padding: 11px 16px;
    font-size:15px;
    background-color: #000;
    text-decoration: none;
    color:#fff;
    border:none; 
    display: inline-block;  
    }
.btn:hover{
    background-color:#ccc;
    color:#000;
    cursor: pointer;
    }
/* main */

#header{
    height: 46.6px;
    background-color: #000;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1;
    
}
#nav li {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    text-transform: uppercase;
    font-size:15px;
}
#nav li a {
    padding:0 24px;  
    line-height: 46.4px;
    text-decoration: none;
    display: inline-block
}
#nav > li > a{
    color: #fff;
}
#nav >li:hover> a,
#nav .subnav li:hover{
    background-color: #ccc;
    color:#000;
    display:block;  
}

#nav .subnav{
    display:none;
    position:absolute;
    top: 46px;
    left: 0;
    background-color:#fff;
    box-shadow: 0 0 10px rgba(0,0,0, 0.3);
    line-height: 38px;
}
#nav li .nav-icon{
    font-size: 12px;
}
#nav .subnav a{
    color: #000;
    line-height: 38px;
}
#nav li:hover .subnav{
    display:inline-block;
}
#header .icon-menu-mobile{
    float: right;
    position: fixed;
    right:0;
    top:0;
    color: #fff;
    line-height: 46.6px;
    padding: 0 24px;
    display:none;
}
#header .icon-search {
    float: right;
    position: fixed;
    right:0;
    top:0;
    color: #fff;
    line-height: 46.6px;
    padding: 0 24px;

} 
#header .icon-search:hover{
    background-color: #f44336;
    cursor: pointer;
}
#header .icon-menu-mobile:hover{
    background-color: #ccc;
    color:#000;
}
#slide{
    margin-top: 46.6px;
    padding-top: 50%;
    background: url('/img/slider/slider1.jpg') top center / cover no-repeat;
    position: relative;
}

#slide .slide-content{
    position: absolute;
    bottom:0;
    left:0;
    padding: 72px 0;
    width:100%;
    text-align: center;
    color:#fff;
    text-shadow: 1px 1.5px #000;
}
#slide .slide-heading{
    padding-top: 12px;;
    font-size:24px;

}
#slide .slide-decription{
    padding-top: 15px;
    font-size:15px;
}
#content .content-section{
    width:800px;
    max-width: 100%;
    padding: 64px 16px;

}
#content .section-heading{
    font-size:30px;
    font-weight: 500;
    letter-spacing: 4px;
    text-align: center;
    margin: 10px 0;
}
#content .section-slogan{
    font-size:15px;
    font-style: italic;
    opacity: 0.6;
    text-align:center;
    margin-top:15px;
}
#content .about-decreption{
    margin-top:25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}
#content .section-team{
    padding-top:47px;
    padding-bottom: 38px;
}
#content .team-name{
    margin: 15px 0;
    font-weight: 500;
    font-size: 15p;
}
#content .avatar{
    width: 154px;
    border-radius:4px;
    margin-bottom:16px;

}
.ticket-list{
    background-color: #000;

}
.tour-list {
    margin-top: 40px;
    background-color: #fff;
    color:#757575;
    list-style: none;
}
.tour-list li{
    padding: 10px 16px;
    border-bottom: 1px solid #ddd ;
}
.tour-list .sold-out{
    background-color:#f44336;
    color: #fff;
    padding: 2px 5px;
    margin:0 16px;
}
.tour-list .quality{
    float:right;
    width:24px;
    height: 24px;
    border-radius: 50%;
    background:#000;
    color:#fff;
    text-align: center;
    line-height: 24px;
    margin-top:-3px;

}
.ticket-box{
    padding:16px 0;

}
.ticket-box .img-place{
    width:100%;
    display:block;
}
.ticket-box .img-place:hover{
    opacity:0.5;
}
.ticket-box .place-content{
    padding: 15px 15px 15px 15px;
    margin-bottom: 16px;
    background-color:#fff;
}
.ticket-box .place-heading{
    color:#000;
    font-size: 15px;
    font-weight: 700;
}
.ticket-box .place-time{
    color:#ccc;
    font-size:15px;
    margin-top:15px;
}
.ticket-box .place-decription{
    color:#000;
    font-size:15px;
    padding: 15px 0;
    margin-bottom: 15px;

}
.ticket-modal{
    background-color: rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    display: none;

}
.open{
    display: flex;
}
.ticket-modal-box{
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0,0,0, 0.5);
    width: 900px;
    padding: 0;
    animation: modalFadeIn ease 0.6s;

}
.ticket-modal-header{
    background-color: #009688;
    position: relative;
    padding: 32px 16px;
}
.ticket-modal-header-close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 16px 16px;
    font-size: 14px;
    color: #fff;
}
.ticket-modal-header-close:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
.ticket-modal-header-title{
    font-size: 30px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    margin: 10px 0;
    letter-spacing: 4px;

}
.ticket-modal-body{
    padding: 0 16px;
    display: block;
}
.ticket-modal-body-label{
    margin: 15px 0 10px 0;
    font-size: 15px;
    display: block;

}
.ticket-modal-body-input{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    font:inherit;

}
.ticket-modal-btn{
    width: 100%;
    background-color: #009688;
    margin: 16px 0;
    padding: 16px;

}
.ticket-modal-footer{
    margin: 15px;
    font-size: 15px;
    line-height: 15px;
    float: right;

}
.ticket-modal-help{
    color: #2196F3;

}
/* Contact content */
.contact-content{
    margin-top:15px;
    padding: 32px 0;
}
.contact-info{
    font-size: 18px;
}
.contact-info i[class^="ti-"]{
    width: 30px;
    display:inline-block;
    line-height: 1.5;
}
.contact-info a{
    color:#381bef;
}
.contact-info a:hover{
    opacity: 0.8;
}
.contact-form{
    font-size: 15px;
}
.form-control{
    padding: 11px;
    border: 1px solid #ccc;
    width:100%;
}
.contact-form .form-submit-btn{
    float:right;
    margin:16px 0;
    padding: 11px 19px;
}
/* map */
.map{
    background: url('/assets/img/map/map-w3.jpg') top center / cover no-repeat;
    padding-top:50%;
    filter: grayscale(50%);
}
/* foorter */
#footer{
    padding:64px 16px;
}
#footer .social{
    font-size:24px;
    
}
#footer .social a{
    text-decoration:none;
    color: rgba(0,0,0, 0.5)
}
#footer .copyright a:hover,
#footer .social a:hover{
    opacity: 0.5;
}
#footer .copyright{
    margin: 15px;
    font-size:15px;
    color: rgba(0,0,0, 0.5)
}
#footer .copyright a{
    color: rgba(0,0,0, 0.5)
}
@keyframes modalFadeIn {
    from{
        transform: translateY(-100px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
